/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  body {
    @apply font-sans text-base antialiased text-gray-900 leading-6 h-full m-0;
  }

  code {
    @apply font-mono;
  }

  html,
  body {
    @apply h-full;
  }

  textarea,
  input,
  button {
    @apply text-base font-sans border-none rounded-lg p-2 shadow-md bg-white leading-6 m-0;
  }

  button {
    @apply text-blue-500 font-medium;
  }

  textarea:hover,
  input:hover,
  button:hover {
    @apply shadow-lg;
  }

  button:active {
    @apply shadow-md transform translate-y-px;
  }


  #root {
    @apply flex h-full w-full;
  }

}
